// *****************  COLOURS  *****************
$color-white: #fff;
$color-black: #000;

$color-brown: #7f6441;
$color-black: #1a1a1a;
$color-gold: #cc9754;
$color-bronze: #998367;
$color-silver: #b2aba1;

// FONTS
$font-serif: 'EB Garamond', serif; 
$font-sans: 'Work Sans', sans-serif;

// FONT SIZES
$default-font-size: 1.8rem;
$medium-font-size: 2.4rem;
$small-font-size: 1.2rem;

// FONT WEIGHTS
$semi-bold: 600;
$regular: 400;

// LETTER SPACING

//      2px 
$default-letterspacing: .2rem;
