footer {
    height: 100%;
    margin: 8rem 0;
    font-weight: 400;
    li {
        color: $color-brown;
    }
}

.footer {
    &-container {
    }
    &-col {
        display: flex;
        justify-content: center;
        height: 10rem;
    }
    &-col ul {
        h2 { font-size: 1.6rem; }
        list-style: none;
        color: $color-black;
        margin: 1rem 0 1rem;
        font-size: 1.6rem;
    }
    &-middle {
        padding: 0 5rem;
    }
}

@include respond(tab-land) {
    .footer {
        &-container {
            text-align: center;
            left: 0;
            margin-bottom: 4rem;
        }
        &-col {
            margin-bottom: 2rem;
            height: 100%;
            &-ul {
                li {
                    font-size: 3rem;
                    line-height: 4.5rem;
                }
            }
            h2 {
                font-size: 3rem;
            }
            &.mx-6 {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }
}
@include respond(large-phone) {
    .footer {
        &-col {
            &-ul {
                li {
                    font-size: 2rem;
                    line-height: 4.5rem;
                }
            }
            h2 {
                font-size: 2rem;
            }
        }
    }
}







