.about {
    .hero {
        width: 100%;
       max-height: 600px;
    }
}
.hero-carroll {
    background-attachment: fixed;
}
  .text-items {
      position: absolute;
      bottom: 0;
      padding-bottom: 5rem;
      &--cta {
          width: 27rem;
          padding: 2rem;
      }
  }
  .pro-shop-container {
      min-height: 65rem;
  }
  // ********************************************  RESPONSIVE  *********************************************

@include respond(tab-land) {
    .hero-carroll {
        background-attachment: unset;
        background-size: cover;
        background-position: bottom;
    }
    .contact {
        &-logo {
            margin-bottom: 5rem;
        }
        &__info--contact-us {
            h1 { font-size: $medium-font-size; }
            p { font-size: $small-font-size; }
        }
    }
    .carroll-trail {
        .col-lg-4.pl-6 {
            padding: 0 3rem !important;
        }
        .col-lg-4.pr-6 {
            padding: 0 3rem !important;
        }
    }
    .alternating{
        .contact__info--contact-us {
            p { font-size: $default-font-size !important; }
        }
    }
}

@include respond(tab-port) {
    .alternating {
        &-col {
            flex-direction: column-reverse;
        }
    }
    .contact-clubhouse {
        padding-bottom: 5rem;
    }
}


@include respond(large-phone) {
    .text-items {
        position: relative !important;
        padding: 100px 5px !important;
    }
    .container-fluid.about {
        padding-left: 0;
        padding-right: 0;
    }
    .text-left.pr-lg-6 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .text-left.pl-lg-6 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .contact__info--contact-us {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    .hero-carroll {
        h1 { font-size: $medium-font-size; padding-bottom: 3rem;}
        p { font-size: $small-font-size; }
        padding: 100px 5px;
    }
    .team {
        h1 { font-size: $large-font-size; }
        .description {
            font-size: $default-font-size; 
        }
        .member {
            padding-bottom: 3rem;
        }
    }
    .pro-shop-container {
        min-height: auto;
    }
}
