.front-9, .back-9, .course-statistics{
    font-weight: $regular;
    h1 {
        font-size: $large-font-size;
    }
    .grid__inner-text {
        i  {
            font-size: 6rem;
        }
    }
    .grid-view {
        background-size: cover;
        transform: rotate(90deg);
    }
}

.course-statistics {
    .table-container {
        overflow: scroll;
    }
    table {
        background-color: #FFFAF1;
        font-size: $default-font-size;
    }
}

.download-pdf {
    position: relative;
    .container-fluid {
        text-transform: uppercase;
        width: 100vw;
        height: 15rem;
    }
    h1 {
        margin: 0;
    }
    p {
        margin: 0;
    }
    .text-container {
         @include absCenter;
    }
}
// **********************************************  RESPONSIVE LAYOUT  ***********************************************

@include respond(large-phone) {
    .course-statistics {
        h1 { font-size: $default-font-size; }
    }
    .download-pdf {
        h1 {
            font-size: $medium-font-size;
        }
        p {
            font-size: $small-font-size;
        }
    }
}