.hero {
    position: relative;
    min-height: 60rem;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    &-title {
        text-align: center;
        @include absCenter;
    }
    h1 {
        font-size: $xl-font-size;
    }
    &-homepage-banner {
        min-height: 80rem;
        background-position: top;
    }
    &__main {
        &-text {
            font-family: $font-serif;
            font-weight: $semi-bold;
            width: 70%;
            color:$color-white;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 15rem;
            & h2 {
                font-weight: $semi-bold;
                letter-spacing: $default-letterspacing;
                font-size: 36px;
            }
            &-pages {
                text-align: center;
                @include absCenter;
                h1 {
                    color: $color-white;
                }
            }
        }
        &-view { 
            p:hover {
                background-color: #998367;
            }        
            font-family: $font-sans;
            font-weight: $regular;
            font-size: $default-font-size;
            text-transform: uppercase;
            display: inline-block;
            border: 1px solid $color-white;
            margin-top: 3rem;
            &--text {
                padding: 1rem 2.5rem;
            }
        }
    }
    &__tee {
        &-text {
            @include horizCenter;
            h1 {
                font-size: 6rem;
                letter-spacing: 1rem;
            }
            p {
                margin: 2rem 0;
                font-size: 2.4rem;
                width: 60%;
            }
        }
        &-phone {
            display: inline-block;
            padding: 1rem 2.5rem;
            font-size: $default-font-size;
            font-weight: $regular;
            text-transform: uppercase;
            line-height: 2.7rem;
            outline: 1px solid $color-brown;
        }  
        &-phone:hover {
            background-color: #998367;
            color: $color-white;
            outline: none;
        }
    }
    &__course {
        &-text {
            h1 {
                font-size: 6rem;
                color:$color-white;
            }
            position: absolute;
            right: 0;
            bottom: 0;
            width: 50%;
            color:$color-white;
            text-align: right;
        }
        &-text p {
            font-weight: $regular;
        }
        &-view {
            text-transform: uppercase;
            display: inline-block;
            border: 1px solid $color-white;
            margin-top: 3rem;
            &--text {
                padding: 1.5rem 2rem;
            }
        }
        &-view:hover {
            background-color: #998367;
        }
    }
    &-events {
        height: 100%;
        @include vertCenter;
        padding-top: 8rem;
    }
}

.map {
    width: 100vw;
    min-height: 60rem;
    &-contact {
        width: 100vw;
        min-height: 70rem;
    }
}

// ********************************************  iPad LANDSCAPE  ********************************************

@include respond(tab-land) {
    
    .hero {
        
        &__main-text {
            margin-bottom: 10rem;
        }
        &__tee {
            &-text { 
                top: 0;  
                transform: translate(0);
                margin-top: 3rem;
            }
        }
    }
}

// // ********************************************  iPad PORTRAIT  ********************************************


@include respond(tab-port) {
    .hero {
        &__tee {
            .pl-7 { padding-left: 0; }
            &-text {
                margin-left: 0;
            }
        }
        &__course {
            &-text {
                width: 100%;
                &.padding-right-large {
                    padding: 0 5rem;
                }
            }
        }
    }
}

// ***************************************  LARGE PHONE LANDSCAPE  ***************************************

@include respond(large-phone-land) {
    .grid__inner-text {
        p { font-size: $default-font-size; }
    }
}

// ********************************************  LARGE PHONE  ********************************************


@include respond(large-phone) {
    .grid__inner-text {
        p { font-size: $medium-font-size; }
    }
    .hero {
        &.main-bg {
            min-height: 80vh;
        }
        &.tee-bg {
            background-position-x: right;
            min-height: 100vh;
        }
        &.course-bg {
            min-height: 100vh;
        }
        &__main {
            &-text {
                @include absCenter;
                margin-bottom: 0;
                h2 {
                    text-align: justify;
                    font-size: $medium-font-size;
                }
            }
        }
        &__tee {
            &-text {
                h1 { font-size: $medium-font-size; }
                p { 
                    float: right;
                    font-size: $default-font-size;
                 }
                text-align: right;
                padding: 0 1rem;
            }
            &-phone {
                text-align: center;
            }
        }
        &__course {
            &-text {
                text-align: center;
                h1 { font-size: $medium-font-size; }
            }
        }

    }
}

// // ********************************************  SMALL PHONE  ********************************************


@include respond(small-phone) {
    .hero {
        &__tee {
            &-text {
                padding: 0 6rem;
                margin-top: 5rem;
                text-align: center;
                h1 { text-align: center; }
                p { 
                    float: none;
                    clear: both; 
                    width: 100%;
                }
            }
        }
    }
}

