.lessons-clinics {
    position: relative;
    .book-now {
        margin-top: 1rem;
        font-weight: $regular;
        font-family: $font-serif;
        font-size: 2.2rem;
    }
    .gift-box {
        position: relative;
        h1 {
            font-size: 3.6rem;
        }
    }
    .gift-text {
        position: absolute;
        top: 45%;
        left: 0;
    }
}

// ***************************************  LARGE PHONE LANDSCAPE  ***************************************

@include respond(large-phone-land) {
    .lessons-clinics {
        .gift-box {
            h1 { font-size: $medium-font-size; }
            p { font-size: $small-font-size; }
        }
    }
    
}